h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
p{
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  box-sizing: border-box;
}
.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; 
  padding: 0 15px; 
}
.head{
  border-bottom: 1px solid #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin:0;
}
button {
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
button:hover, button:focus {
  background-color: #404BBF;
}
.nav-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  text-decoration: none;
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-link:hover, .nav-link:focus {
  color: #404bbf;
}
.logo-text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-span {
  color: #f4f4fd;
}
.contact-info {
  font-style: normal;
}
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.contact-link:hover, .contact-link:focus {
  color: #404bbf;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}
.member-info {
  padding: 32px 0;
}
.member-role {
  text-align: center;
}
.footer {
  background-color: #2E2F42;
  padding: 100px 0;
}
.footer .container {
  text-align: left;
  padding: 0 15px;
  display: flex;
}

.footer-text {
  color: #F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  font-size: 16px;
}
.footer-logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-web{
  color: #f4f4fd;
}
.cta-button {
  font-size: 16px;
  display: block;      
  min-width: 169px;     
  height: 56px;         
  border: none;         
  border-radius: 4px;   
  margin: 48px auto 0;  
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-weight: 500;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.portfolio-item {
  background-color: #FFFFFF;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.eff-sol{
  background-color: #2e2f42;
  padding: 188px 0;
  align-items: center;
}

.advantage-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}
.advantage-text{
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}
.team-member{
  background-color: #FFFFFF;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  gap: 24px;
}
.section-title{
  font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color:#2e2f42;
    margin-bottom: 72px;
}
.section {
  padding: 120px 0;
}
.team-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-text{
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  
}
.portfolio-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42;
  margin-bottom: 8px;
  text-align: left;
}
  
.portfolio-text{
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    text-align: left;
}
.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}

.header-logo{
  color: #2E2F42;
}
.address{
  font-style: normal;
}
.team{
  background-color:  #F4F4FD;
  padding: 120px 0;
}
.nav-list{
  list-style: none;
  display: flex;   
  gap: 40px;       
}

.contact-list{
  list-style: none;
  display: flex;    
  gap: 40px;        
  margin: 0;
  padding: 0;
}
.advantages-list{
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  border-radius: 0px 0px 4px 4px;
}
.team-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  padding: 0;
}
.portfolio-list{
  display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.advantages {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantage-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 4px;
}
.portfolio.section {
  padding: 120px 0;
}
.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.team-h3 {
  margin-bottom: 72px;
}
.portfolio {
  padding: 120px 0; 
}
.portfolio-h2, h3 {
  margin-bottom: 72px;
}
.conteiner-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}
.portfolio-item-one {
  padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

img {
  display: block;
  width: 100%;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.socical-team{
  width: 40px;
  height: 40px;
}

.social-link-icon{
  fill: #FFFFFF;
  

}

.social-link-point {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.box-svg{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.footer-container-part-two {
  display: flex;
  flex-direction: column;
}

.social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-footer {
  display: flex;
  gap: 16px;
}

.socical-team {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-container-part-one {
  max-width: 264px;
  margin-right: 120px;
}
.social-link-point:hover,
.social-link-point:focus {
    background-color: #404bbf;
}

.footer-social-link:hover,
.footer-social-link:focus
{
    background-color: #31d0aa;
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;

}.portfolio-item:hover .portfolio-hidden-text {
  transform: translateY(0);    
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-hidden-text {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}