h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
p{
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1158px;
}
.page-nav {
  display: flex;
  align-items: center;
  gap: 76px;
  
}
.head .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; 
  padding: 0 15px; 
}

.head{
  border-bottom: 1px solid #e7e9fc
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

button {
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

button:hover, button:focus {
  background-color: #404BBF;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.nav-link:hover, .nav-link:focus {
  color: #404bbf;
}

.logo-text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-span {
  color: #2e2f42;
}

.contact-info {
  font-style: normal;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contact-link:hover, .contact-link:focus {
  color: #404bbf;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px; 
  margin: 0 auto;
}
.member-info {
  padding: 32px 0;
}

.member-role {
  text-align: center;
}
.footer {
  background-color: #2E2F42;
}

.footer-text {
  color: #E7E9FC;
}

.cta-button {
  font-size: 16px;
  display: block;      
  min-width: 169px;     
  height: 56px;         
  border: none;         
  border-radius: 4px;   
  margin: 48px auto 0;  
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.portfolio-item {
  background-color: #FFFFFF;
  width: calc((100% - 48px) / 3);
}

.eff-sol{
  background-color: #2e2f42;
  padding: 188px 0;
}
.advantage-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantage-text{
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-member{
  background-color: #FFFFFF;
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.section-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  border: 2px solid transparent;
  margin-top: 120px;
  margin-bottom: 72px;
}
.section {
  padding: 120px 0;
}
.team-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-text{
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.member-info {
  padding: 32px 0;
}
.portfolio-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;   
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text{
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-span{
  color: #f4f4fd;
}
.footer-text{
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
}
.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.header-logo{
  color: #2E2F42;
}
.address{
  font-style: normal;
}
.team{
  background-color:  #F4F4FD;
}
.footer-web{
   color: #f4f4fd;
}
.nav-list{
  list-style: none;
  display: flex;   
  gap: 40px;       
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-list{
  list-style: none;
  display: flex;    
  gap: 40px;        
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages-list{
  list-style: none;
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.team-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.portfolio-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
.advantage-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.portfolio.section {
  padding: 120px 0;
}
.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
