body{
  font-family: "Roboto", "Arial", sans-serif;
  color: #2E2F42;
  background-color: #FFFFFF;
}
button{
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-weight: 500;
  cursor: pointer;
}

button:hover, button:focus {
  background-color: #404BBF;
}
.page-nav .link {
color: #212121;
}

.page-nav .link:hover, 
.page-nav .link:focus {
color: #404BBF; 
}

.title{
  font-size: 56px;
  line-height: 1.07;
  color: #FFFFFF;
  font-weight: 700;
}

.tiny-title{
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}
.paragraph{
  font-size: 16px;
  line-height: 1.5;
}
.midle-title{
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
}
.eff-sol{
  background-color: #2E2F42;
}
.our-team{
  background-color: #F4F4FD;
}
.foot{
  background-color: #2E2F42;
}
.foot .paragraph{
  color: #E7E9FC;
}
.clas .link{
  font-weight: 500;
}