h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
p{
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
 
}
.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; 
  padding: 0 15px; 
}
.head{
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 1px 6px rgba(46, 47, 66, 0.08);
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin:0;
}
button {
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
button:hover, button:focus {
  background-color: #404BBF;
}
.nav-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
  color: #404bbf;
}
.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-link:hover, .nav-link:focus {
  color: #404bbf;
}
.logo-text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-span {
  color: #f4f4fd;
}
.contact-info {
  font-style: normal;
}
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover, .contact-link:focus {
  color: #404bbf;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}
.member-info {
  padding: 32px 0;
}
.member-role {
  text-align: center;
}
.footer {
  background-color: #2E2F42;
  padding: 100px 0;
}
.footer .container {
  text-align: left;
  padding: 0 15px;
  display: flex;
}

.footer-text {
  color: #F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  font-size: 16px;
}
.footer-logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-web{
  color: #f4f4fd;
}
.cta-button {
  font-size: 16px;
  display: block;      
  min-width: 169px;     
  height: 56px;         
  border: none;         
  border-radius: 4px;   
  margin: 48px auto 0;  
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-weight: 500;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item {
  background-color: #FFFFFF;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.eff-sol{
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0; /* задає вертикальний відступ для адекватного простору */
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
                    url(../images/people-office.jpg); /* або url(../images/img-name.jpg) */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advantage-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}
.advantage-text{
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}
.team-member{
  background-color: #FFFFFF;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  gap: 24px;
}
.team-member:first-child{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 2px 1px rgba(46, 47, 66, 0.08);
}
.social-link-icon {
  fill: #f4f4fd;
}
.section-title{
  font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color:#2e2f42;
    margin-bottom: 72px;
}
.section {
  padding: 120px 0;
}
.team-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-text{
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  
}
.portfolio-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42;
  margin-bottom: 8px;
  text-align: left;
}
  
.portfolio-text{
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    text-align: left;
}
.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}

.header-logo{
  color: #2E2F42;
}
.address{
  font-style: normal;
}
.team{
  background-color:  #F4F4FD;
  padding: 120px 0;
}
.nav-list{
  list-style: none;
  display: flex;   
  gap: 40px;       
}

.contact-list{
  list-style: none;
  display: flex;    
  gap: 40px;        
  margin: 0;
  padding: 0;
}
.advantages-list{
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  border-radius: 0px 0px 4px 4px;
}
.team-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  padding: 0;
}
.portfolio-list{
  display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.advantages {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantage-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 4px;
}
.portfolio.section {
  padding: 120px 0;
}
.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.team-h3 {
  margin-bottom: 72px;
}
.portfolio {
  padding: 120px 0; 
}
.portfolio-h2, h3 {
  margin-bottom: 72px;
}
.conteiner-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}
.portfolio-item-one {
  padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

img {
  display: block;
  width: 100%;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.socical-team{
  width: 40px;
  height: 40px;
}

.social-link-icon{
  fill: #FFFFFF;
  

}

.social-link-point {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.box-svg{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.footer-container-part-two {
  display: flex;
  flex-direction: column;
}

.social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-footer {
  display: flex;
  gap: 16px;
}

.socical-team {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-container-part-one {
  max-width: 264px;
  margin-right: 120px;
}
.social-link-point:hover,
.social-link-point:focus {
    background-color: #404bbf;
}

.footer-social-link:hover,
.footer-social-link:focus
{
    background-color: #31d0aa;
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;

}.portfolio-item:hover .portfolio-hidden-text {
  transform: translateY(0);    
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-hidden-text {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
:root {
  --icon-fill: #f4f4fd;
}
.team .social-link-icon,
.footer .social-link-icon {
  fill: var(--icon-fill);
}
.backdrop {
  background: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btm {
  border-radius: 50%;
  position: absolute;
  right: 24px;
  top: 24px;
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.modal-close-btm:focus,
.modal-close-btm:hover {
  background-color: #404bbf;
  border: none;
}

.modal-close-btm:focus .modal-close-icon,
.modal-close-btm:hover .modal-close-icon {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-container {
  margin-bottom: 8px;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.user-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-icon-container {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-container {
  margin-bottom: 16px;
}

.modal-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.check-container {
  margin-bottom: 24px;
}

.privacy-policy-label {
  display: inline-block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.span-icon {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy-input:checked + .privacy-policy-label .span-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-submit-btm {
  display: block;
  margin: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btm:hover,
.modal-submit-btm:focus {
  background-color: #404bbf;
}



.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-btm {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    border: none;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .subscribe-btm:hover,
    .subscribe-btm:focus {
        background-color: #404bbf;
    }

.subscribe-icon {
    margin-left: 16px;
}

.subscribe-input {
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    border-image: initial;
    padding-left: 16px;
    color: #ffffff;
}

.subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}
.form-container {
  margin-left: 80px;
}

.footer-form {
  display: flex;
  gap: 24px;
}